body {
    background-color: #4e3110;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

#banner {
    background-color: #50340f;
    text-align: center;
}

#importancia {
    background-color: #e6e6e6;
}

#tecnicas {
    background-color: #f2f2f2;
}

#dicas {
    background-color: #e6e6e6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
